@use "./styles/variables.module" as *;
@use "./node_modules/bootstrap/scss/functions" as *;
@use "./node_modules/bootstrap/scss/mixins" as *;
@use "./node_modules/bootstrap/scss/variables" as *;

.filesListContainer {
  height: 10rem;
  border: 1px solid $secondary;
  //padding: 1rem;
}

.height30rem {
  height: 30rem;
}

.border2px {
  border: 1px solid $secondary;
}
