@import "/styles/colors";

$inactive-color: $gray-400;

.stepperWrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.stepperItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.clickable {
  cursor: pointer;
}
.stepperItem.clickable .stepCounter {
  /*border-color: #43a8b5;*/
  border: #000000 2px solid;
}

.stepperItem::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid $inactive-color;
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 2;
}

.stepperItem::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid $inactive-color;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 2;
}

.stepperItem .stepCounter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: $inactive-color;
  margin-bottom: 6px;
}

.stepperItem.active {
  font-weight: bold;
}

.stepperItem.completed .stepCounter {
  background-color: #000000;
  color: #ffffff;
}

.stepperItem.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #000;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 3;
}

.stepperItem:first-child::before {
  content: none;
}
.stepperItem:last-child::after {
  content: none;
}
