@import "/styles/colors.scss";
@import "/styles/variables.module";

.pillcontainer {
  //background-color:$success;
  border-color: $green-500;
  border-style: solid;
  border-width: 3px;
  margin: 0.5rem;
  padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: calc($btn-border-radius * 2);
}

.pillcontainer_small {
  //background-color:$success;
  border-color: $green-500;
  border-style: solid;
  border-width: 1px;
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  border-radius: calc($btn-border-radius * 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.textlarge {
  font-size: 1.5rem;
}

.textsmall {
  font-size: 0.8rem;
}

.pillGreen {
  border-color: $green-500;
}
.pillYellow {
  border-color: $yellow-500;
}
.pillBlue {
  border-color: $blue-500;
}
.pillPink {
  border-color: $pink-500;
}

.pillRed {
  border-color: $red-500;
}

.pillOrange {
  border-color: $orange-500;
}
.pillPurple {
  border-color: $purple-500;
}

.pillTeal {
  border-color: $teal-500;
}
