@import "/styles/variables.module";
//@import "/node_modules/bootstrap/scss/functions";
//@import "/node_modules/bootstrap/scss/mixins";
//@import "/node_modules/bootstrap/scss/variables";

.logotext {
  font-size: 7rem;
  font-family: $headings-font-family;
  font-weight: bold;
}
