@import "../styles/variables.module";

.workCardContainer {
  background-color: rgba(0, 245, 245, 0);
  //cursor: pointer;

  //width: 24rem;
  min-height: 24rem;
  margin-bottom: $spacer;
}

.workCardImage {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  transition: transform 0.5s ease;
}
.card-img-overlay > .workCardImage:hover {
  transform: scale(1.05);
}

.card-img-overlay > .workCardImage {
  transition: transform 0.5s ease;
}
